fastapi==0.115.8
uvicorn[standard]==0.34.0
pydantic==2.10.6
scikit-learn==1.6.1
sentence-transformers==3.4.1
transformers==4.48.2
torch==2.6.0
xgboost==2.1.4
joblib==1.4.2
numpy==2.2.3
pandas==2.2.3
datasets==3.2.0
